@import "_variables.scss";
.error-message {
    color: $primary-error;
    font-style: italic;
    font-size:$font-base-size*.75;
}

a {
    color: $anchor-color;
}
a:hover{
    color: $primary-color;
}

.label, .field{
    width:50%;
}

.field input{
    max-width:100%;
    width:100%;
    padding:$default-padding/2;

    &[type="text"], &[type="password"]{
        border-radius:5px;
        border-color:$border-primary;
        border-width:1px;
    }
}


.btn{
    display:inline-block;
    padding:$default-padding;
    text-decoration:none;
    border-radius:5px;
    color:$button-text-color;
    border:1px solid $border-primary;
    margin:5px;
    text-transform:uppercase;
    font-size:$font-base-size * .8;

    &:hover{
        background-color:invert($button-background);
        color:$background-color;
    }
}

//Headings
.primary-heading{
    font-size:$font-base-size * 1.4;
    text-transform:uppercase;
    border-bottom: 1px solid $border-primary;
    margin-bottom:$default-padding;
}